.bg_img {
  width: 100%;
  height: 100%;
  position: static;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container {
  z-index: 99;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  overflow: hidden;

  .headbar {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 30px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;

    * {
      color: white;
    }

    .infos {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .icon {
        margin: 0 5px;
      }
    }
  }
  .sidebar {
    background: rgba(0, 0, 0, 0.6);
    width: 50px;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 5px;
    box-sizing: border-box;
    flex-flow: column;
    * {
      color: white;
    }
    .icon {
      font-size: 2em;
      margin: 10px 0;

      &:last-child {
        position: absolute;
        bottom: 0;
      }
    }
  }
  .main-content {
    position: absolute;
    top: 30px;
    left: 50px;
    // background: red;
    width: 100%;
    height: 100%;

    .desktop_folders {
      position: absolute;
      top: 0;
      right: 5em;

      .folders {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        margin: 0 0 1.5em;
        position: relative;

        .fas {
          color: white;
          font-size: 3em;
        }
        span {
          color: white;

          &.delete {
            position: absolute;
            bottom: -20px;
            left: -40px;
            background: #414039;
            padding: 5px;
            border-radius: 3px;
            display: none;

            &.active {
              display: block;
            }
          }
        }
      }
    }

    .context-menu {
      display: none;
      width: 250px;
      position: absolute;
      list-style: none;
      background: #41403a;
      border-radius: 2px;
      color: white;
      font-size: 14px;
      padding-left: 20px;
      padding-right: 10px;
      margin: 0;

      &.active {
        display: block;
      }

      li {
        padding: 8px 0;
        position: relative;

        &.deactive {
          color: #636259;
        }

        &:last-child {
          &::after {
            content: "";
            display: none;
          }
        }

        &::after {
          content: "";
          width: 100%;
          border-bottom: 2px solid #3c3b34;
          height: 10px;
          position: absolute;
          bottom: -2px;
          left: 0;
          right: 0;
        }

        span {
          float: right;
          color: #737269;
        }
      }
    }

    .file-manager {
      position: absolute;
      z-index: 99;
      width: 70%;
      height: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center;
      transition: all 0.3s ease-in-out;
      opacity: 0;

      &.active {
        height: 60vh;
        opacity: 1;
      }
      .header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 1em;
        box-sizing: border-box;
        background: whitesmoke;
      }
      .body {
        background: white;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 1em;

        .folder-list {
          display: flex;
          align-items: center;
          justify-content: start;
          flex-direction: row;
          .folders {
            display: flex;
            width: 100px;
            height: 100px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            i {
              font-size: 4em;
            }
          }
        }
      }
    }
  }
}
